{% extends 'blog/base_blog.html' %}
{% block title %}Create Post{% endblock %}
{% block content %}
    <div class="main" style="width: 1100px;height: auto;">
        <h1 class="fontchoice">Обновить пост {{ post.title | title }} </h1>
        <form action="{{ post.get_update_url }}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}

                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
            <button class="button" type="submit">Update Post</button>
        </form>
    </div>
{% endblock %}

