{% extends 'blog/base.blog.html'%}
{%block title%}Create Tag{% endblock %}
{% block content%}
<div class="main" style="width: 1100px; height: auto">
    <h1 class="fontchoice" style="text-align: center;">Создайте свой тег</h1>
    <form action="{% url 'tag_create_url'%}" method="POST">
        {% csrf_token %}
        <h2 class="fontchoice">Введите тег</h2>
        {{ form.title }}
        <h2 class="fontchoice">Введите слизень?!</h2>
        {{ form.slug }}
        <button class="button" type="submit">Create Tag</button>
    </form>
</div>
{%endblock%}